//-
  Mixin to insert pictures
  @param {string} className - class name of the source element
  @param {Object<string>} pictures - list of the pictures {source: media}
  @param {string} altImgSrc - class name of the img element
  @param {string} altImgText - alternative of the img element

mixin picturesOptimization(className, pictures, altImgSrc, altImgText)
  picture(class=className)
    each media, srcset in pictures
      source(class=className + "__source" srcset=srcset media=media)
    img(class=className + "__image" srcset=altImgSrc alt=altImgText)
